@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Jost", sans-serif;
}

header {
  z-index: 1001 !important;
}

.gradientBg {
  background: linear-gradient(99deg, #ee9ae5 0%, #5961f9 100%);
}

.btnPrimary {
  @apply py-3 px-8 bg-secondary text-white font-semibold rounded-sm hover:bg-primary transition-all duration-300;
}

.btnPrimaryOutline {
  @apply py-3 px-8 text-violet-400 bg-white border border-violet-400 border-solid rounded-lg hover:bg-primary transition-all duration-300;
}
